:root {
  --primary-color: #6C63FF;
}
.contagem-numero {
  font-weight: bold;
  font-size: 92px;
  text-align: center;
}

.contagem-legenda {
  width: 100%;
  color: gray;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
}

.img-foguete {
  width: 90%;
  padding-left: 10%;
}

.container > .row > .col-6 {
  margin-top: 30vh;
}

.titulo {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
}

.btn-default, .btn-default:active, .btn-default:hover, .btn-default:focus {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.subtitulo {
  color: gray;
  font-size: 24px;
  margin-bottom: 48px;
}