.main {
  max-width: 400px !important;
  margin-top: 24vh;
}

.calculadora-div {
  /* max-width: 400px !important; */
  /* outline: solid 2px #eee; */
  background-color: grey;
  padding: 0;
}

.row-operacoes > div,
.row-numeros > *,
.enter-div {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background-color: white;
  /* outline: solid 2px #eee; */
  border: solid 1px #eee;
}

.botao-calc {
  cursor: pointer;
}

.enter-div {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.enter-div > p {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.visor-div {
  height: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: white;
  border-top: solid 1px #eee;
  width: 100%;
  font-size: 32px;
}